# yaml-language-server: $schema=https://json.schemastore.org/github-action.json
name: Render PCB

on:
  push:
    paths:
      - '*.kicad_pcb'
  workflow_dispatch:

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install KiCad
        run: |
          sudo add-apt-repository --yes ppa:kicad/kicad-9.0-releases
          sudo apt update
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: kicad kicad-packages3d kicad-footprints kicad-libraries
          version: 1.0
      - run: make clean && make all
      - uses: EndBug/add-and-commit@v9
        with:
          default:author: github_actor
          message: 'Render PCB'
          add: 'assets/*.png'
      
